doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        title Document
    body
        include ./logo/main.pug
        include ./header/main.pug
        include ./header-auth/main.pug
        include ./body/main.pug
        include ./big-footer/main.pug