doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        title Document
    body
        include ./search-numb/main.pug
        include ./book-numb/main.pug
        include ./calendar/main.pug
        include ./registration/main.pug
        include ./auth/main.pug
        include ./num-photos/main.pug