.body
    .toxin-logo
        .circle1
        .circle2
        .toxin-img
            img(src='../imgs/TOXIN.png')
    .book-note.rglr Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .info
        .nav.rglr
            .title.b НАВИГАЦИЯ
            .about О нас
            .news Новости
            .support Служба поддержки
            .services Услуги
        .about.rglr
            .title.b О НАС
            .serv О сервисе
            .team Наша команда
            .vacancies Вакансии
            .investors Инвесторы
        .support.rglr
            .title.b СЛУЖБА ПОДДЕРЖКИ
            .agreements Соглашения
            .communities Сообщества
            .connect Связь с нами
    .spec
        .subscr.b ПОДПИСКА
        .special.rglr Получайте специальные предложения и новости сервиса
        .input
            .email__note.dim Email
            .material-icons arrow_forward




.body-footer
    .copyright.rglr Copyright © 2018 Toxin отель. Все права зачищены.
    .imgs
        img(src="../imgs/twitter.png")
        img(src="../imgs/facebook.png")
        img(src="../imgs/inst.png")