





.texts
    .subtitle.b100 TEXT FIELD
    .email__right-note DEFAULT
    .email.brdr-dim.brdr-long
        .text.dim.m13 Email
    .subtitle.b100 TEXT FIELD
    .hover__right-note HOVER / FOCUS
    .hover-focus.brdr-clear.brdr-long
        .text.clear.m13 This is pretty awesome
    .subtitle.b100 MASKED TEXT FIELD
    .dmy.brdr-dim.brdr-long
        .text.dim.m13 ДД.ММ.ГГГГ 
    .subtitle.b100 SUBSCRIPTION TEXT FIELD
    .email-subscr.brdr-dim.brdr-mid
        .text.dim.m13 Email
        a.material-icons.arleft arrow_forward 




.undropdowns
    .subtitle.b100 DROPDOWN
    .guests.brdr-dim.brdr-long
        .text.clear.m13 Сколько гостей
        a.material-icons.ardwn keyboard_arrow_down
    .subtitle.b100 DATE DROPDOWN
    .dmy.brdr-dim.brdr-small
        .text.clear.m13 ДД.ММ.ГГГГ
        a.material-icons.ardwn keyboard_arrow_down
    .datesub.subtitle.b100 DATE DROPDOWN
    .datenum.brdr-dim.brdr-small
        .text.clear 19.08.2019
        a.material-icons.ardwn keyboard_arrow_down
    .filter-sub.subtitle.b100 FILTER DATE DROPDOWN
    .filter-date.brdr-dim.brdr-mid
        .text.clear.m13 19 авг - 23 авг
        a.material-icons.ardwn keyboard_arrow_down
    .bed-sub.subtitle.b100 DROPDOWN
    .bedrooms__right-note DEFAULT
    .bedrooms.brdr-dim.brdr-mid2
        .text.clear.m13 2 спальни, 2 кровати...
        a.material-icons.ardwn keyboard_arrow_down



.dropdowns
    .bed-sub.subtitle.b100 DROPDOWN
    .bedrooms__right-note EXPANDED
    .bedrooms.brdr-clear.brdr-mid2
        .text.clear.m13 2 спальни, 2 кровати...
        a.material-icons.ardwn keyboard_arrow_down
    .bed-dropped.brdr-clear
        .bedrooms
            .text.b100 СПАЛЬНИ
            .less.btn-clear -
            .number.b100 2
            .more.btn-clear +
        .beds
            .text.b100 КРОВАТИ
            .less.btn-clear -
            .number.b100 2
            .more.btn-clear +
        .baths
            .text.b100 ВАННЫЕ КОМНАТЫ
            .less.btn-dim -
            .number.b100 0
            .more.btn-clear +

    
    .empty-guests
        .subtitle.b100 DROPDOWN
        .guests.brdr-clear
            .text.clear.m13 Сколько гостей
            a.material-icons.ardwn keyboard_arrow_down
        .dropped.brdr-clear
            .people
                .adults.b100 ВЗРОСЛЫЕ
                .children.b100 ДЕТИ
                .babies.b100 МЛАДЕНЦЫ
            .less-btns
                .less.less-adult.btn-dim -
                .less.less-child.btn-dim -
                .less.less-baby.btn-dim -
            .more-btns
                .more.more-adult.btn-clear +
                .more.more-child.btn-clear +
                .more.more-baby.btn-clear +
            .amounts
                .adults-amount.b100 0
                .child-amount.b100 0
                .baby-amount.b100 0
            .apply ПРИМЕНИТЬ



    .three-guests
        .subtitle.b100 DROPDOWN
        .guests.brdr-clear
            .text.clear.m13 3 гостя
            a.material-icons.ardwn keyboard_arrow_down
        .dropped.brdr-clear
            .people
                .adults.b100 ВЗРОСЛЫЕ
                .children.b100 ДЕТИ
                .babies.b100 МЛАДЕНЦЫ
            .less-btns
                .less.less-adult.btn-clear -
                .less.less-child.btn-clear -
                .less.less-baby.btn-dim -
            .more-btns
                .more.more-adult.btn-clear +
                .more.more-child.btn-clear +
                .more.more-baby.btn-clear +
            .amounts
                .adults-amount.b100 2
                .child-amount.b100 1
                .baby-amount.b100 0
            .apply ПРИМЕНИТЬ
            .clear ОЧИСТИТЬ