doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        title Document
    body
        include ./logo/main.pug
        include ./inputs/main.pug
        include ./checkboxes/main.pug
        include ./buttons/main.pug
        include ./slider/main.pug
        include ./pagination/main.pug
        include ./footer/main.pug