.calendar-box
    .calendar__header
        .i.material-icons.left-arrow arrow_forward
        .calendar__title Август 2019
        .i.material-icons.right-arrow arrow_forward
    .calendar__body
        .body__days
            .days.days__monday Пн
            .days.days__tuesday Вт
            .days.days__wednsday Ср
            .days.days__thirsday Чт
            .days.days__friday Пт
            .days.days__saturday Сб
            .days.days__sunday Вс
            .numbers.numbers__29gray.gray 29
            .numbers.numbers__30gray.gray 30
            .numbers.numbers__31gray.gray 31
            .numbers.numbers__1 1
            .numbers.numbers__2 2
            .numbers.numbers__3 3
            .numbers.numbers__4 4
            .numbers.numbers__5 5
            .numbers.numbers__6 6
            .numbers.numbers__7 7
            .numbers.numbers__8 8
            .numbers.numbers__9 9
            .numbers.numbers__10 10
            .numbers.numbers__11 11
            .numbers.numbers__12 12
            .numbers.numbers__13 13
            .numbers.numbers__14 14
            .numbers.numbers__15 15
            .numbers.numbers__16 16
            .numbers.numbers__17 17
            .numbers.numbers__18 18
            .numbers.numbers__19 19
            .numbers.numbers__20 20
            .numbers.numbers__21 21
            .numbers.numbers__22 22
            .numbers.numbers__23 23
            .numbers.numbers__24 24
            .numbers.numbers__25 25
            .numbers.numbers__26 26
            .numbers.numbers__27 27
            .numbers.numbers__28 28
            .numbers.numbers__29 29
            .numbers.numbers__30 30
            .numbers.numbers__31 31
            .numbers.numbers__1gray.gray 1
            .green-circle.circ
            .purple-circle1.circ
            .purple-circle2.circ
            .purple-rectangle
    .calendar__footer
        .footer__clear ОЧИСТИТЬ
        .footer__confirm ПРИМЕНИТЬ