.advantages
    .comfort
        .material-icons insert_emoticon
        .comfort-title.b75 Комфорт
        .plus.clear Шумопоглощающие стены
        .line
    .conveniences
        .material-icons location_city
        .conv-title.b75 Удобство
        .plus.clear Окно в каждой из спален
        .line

.bullets
    .bullet-title.b100 BULLET LIST
    .bullet-list
        .list-circls
            .pet-circ
            .events-circ
            .arrive-circ
        .list-notes.clear
            .pet-note Нельзя с питомцами
            .events-note Без вечеринок и мероприятий
            .arrive-note Время прибытия — после 13:00, а выезд до 12:00

.comment
    .comment__photo
    .comment__title.b75 Мурад Сарафанов
    .comment__daysago.clear 5 дней назад
    .comment__like.purp-like
        .material-icons.heart favorite
        .like__count 12
    .comment__review.clear Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.