.details-body
    .advantages
        .adv-title Сведения о номере
        .comfort
            .material-icons insert_emoticon
            .comfort-title.b75 Комфорт
            .plus.clear Шумопоглощающие стены
            .line
        .conveniences
            .material-icons location_city
            .conv-title.b75 Удобство
            .plus.clear Окно в каждой из спален
            .line
        .cosy
            .material-icons whatshot
            .cosy-title.b75 Уют
            .plus.clear Номер оснащёен камином

    .circle
        .circle-child
        .circle-child
        .circle-child
        .circle-child
        .white
        .fst
        .scnd
        .thrd


    .impress-title Впечатления от номера

    .circles-group
        .yellow
        .green
        .purp
        .gray


    .reviews-group
        .wonderful
        .rev-note.clear Великолепно
        .good
        .rev-note.clear Хорошо 
        .normal
        .rev-note.clear Удовлетворительно
        .oh-no
        .rev-note.clear Разочарован

    .vote-amount
        .numb 260
        .votes голосов


    .book-box
        .book__lux
            .lux__no №
            .lux__number 888
            .lux__lux ЛЮКС
        .book__cost
            .cost__number 9 990₽
            .cost__per-day в сутки
        .book__arrive
            .arrive__note.note ПРИБЫТИЕ
            .arrive__dropbox.drpbx__date
                .arrive__date 19.08.2019
                i.material-icons.arrow__date keyboard_arrow_down
        .book__exit
            .exit__note.note ВЫЕЗД
            .exit__dropbox.drpbx__date
                .exit__date 23.08.2019
                i.material-icons.arrow__date keyboard_arrow_down
        .book__guests
            .guests__note.note ГОСТИ
            .guests__dropbox.drpbx__long
                .guests__amount 3 гостя
                i.material-icons.arrow__date keyboard_arrow_down
        .expences
            .exp__4days
                .left 9 990₽ х 4 суток
                .right 39 960₽
            .exp__services
                .left Сбор за услуги: скидка 2 179₽
                .exp-i
                    .i__circle
                        .i__i i
                .right 0₽
            .exp__extra-services
                .left Сбор за доп. услуги 
                .extra-exp__i
                    .i__circle
                        .i__i i
                .right 300₽
        .total
            .total__note Итого
            .total__border
            .total__money 38 081₽
        .book-number.act-btn 
            .btn__note ЗАБРОНИРОВАТЬ
                i.material-icons.arrow__choose arrow_forward


    .details-comment
        .comment-title Отзывы посетителей номера
        .murad
            .comment__photo
            .comment__title.b75 Мурад Сарафанов
            .comment__daysago.clear 5 дней назад
            .comment__like.purp-like
                .material-icons.heart favorite
                .like__count 12
            .comment__review.clear Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
        .patricia
            .comment__photo
            .comment__title.b75 Патрисия Стёклышкова
            .comment__daysago.clear Неделю назад
            .comment__like.gray-like
                .material-icons.heart favorite_border
                .like__count 2
            .comment__review.clear Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
        

    .details-rules.clear
        .rules__title Правила
        .rules__circls
            .rcrc
            .rcrc
            .rcrc
        .rules__list
            .rules__pet Нельзя с питомцами
            .rules__events Без вечеринок и мероприятий
            .rules__arrive Время прибытия — после 13:00, а выезд до 12:00 
    
    .details-refuse.clear
        .refuse__title Отмена
        .refuse__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.