.book-box
    .book__lux
        .lux__no №
        .lux__number 888
        .lux__lux ЛЮКС
    .book__cost
        .cost__number 9 990₽
        .cost__per-day в сутки
    .book__arrive
        .arrive__note.note ПРИБЫТИЕ
        .arrive__dropbox.drpbx__date
            .arrive__date 19.08.2019
            i.material-icons.arrow__date keyboard_arrow_down
    .book__exit
        .exit__note.note ВЫЕЗД
        .exit__dropbox.drpbx__date
            .exit__date 23.08.2019
            i.material-icons.arrow__date keyboard_arrow_down
    .book__guests
        .guests__note.note ГОСТИ
        .guests__dropbox.drpbx__long
            .guests__amount 3 гостя
            i.material-icons.arrow__date keyboard_arrow_down
    .expences
        .exp__4days
            .left 9 990₽ х 4 суток
            .right 39 960₽
        .exp__services
            .left Сбор за услуги: скидка 2 179₽
            .exp-i
                .i__circle
                    .i__i i
            .right 0₽
        .exp__extra-services
            .left Сбор за дополнительные услуги 
            .extra-exp__i
                .i__circle
                    .i__i i
            .right 300₽
    .total
        .total__note Итого
        .total__border
        .total__money 38 081₽
    .book-number.act-btn 
        .btn__note ЗАБРОНИРОВАТЬ
            i.material-icons.arrow__choose arrow_forward