.logo
    .circle1
    .circle2
.colors
    .dark100
        .colors__item
        .colors__name Dark Shade 100%
        .colors__id #1F2041
    .dark75
        .colors__item
        .colors__name Dark Shade 75%
        .colors__id #1F2041
    .dark50
        .colors__item
        .colors__name Dark Shade 50%
        .colors__id #1F2041
    .dark25
        .colors__item
        .colors__name Dark Shade 25%
        .colors__id #1F2041
    .dark5
        .colors__item
        .colors__name Dark Shade 5%
        .colors__id #1F2041
    .purple
        .colors__item
        .colors__name Purple
        .colors__id #BC9CFF
    .green
        .colors__item
        .colors__name Green
        .colors__id #6FCF97