.fonts 
    .h1
        .font H1
        .examp This one is the sub-section or widget title
    .h2
        .font H2
        .examp Next one is the item title inside widgets
    .h3
        .font H3
        .examp This is a label or CTA text
    .body 
        .font Body
        .examp This is the body text which is used for most of the design, like paragraphs, lists, etc.