.header
    .toxin-logo
        .circle1
        .circle2
        .toxin-img
            img(src='../imgs/TOXIN.png')
    .info
        .about.rglr О нас
        .services.rglr Услуги
        .material-icons.serv-arrow__down keyboard_arrow_down
        .vacancies.rglr Вакансии
        .news.rglr Новости
        .agreements.rglr Соглашения
        .material-icons.agr-arrow__down keyboard_arrow_down
    .btns
        .auth-btn.b
            .btn-note ВОЙТИ
        .reg-btn.b
            .btn-note ЗАРЕГИСТРИРОВАТЬСЯ

.three-imgs
    .big-img
        img(src="../imgs/image1.png")
    .small-first-img
        img(src="../imgs/image2.png")
    .small-sec-img
        img(src="../imgs/image3.png")