.big-footer
    .toxin-logo
        .circle1
        .circle2
        .toxin-img
            img(src='../imgs/TOXIN.png')
    .copyright.rglr Copyright © 2018 Toxin отель. Все права зачищены.
    .imgs
        img(src="../imgs/twitter.png").twitter
        img(src="../imgs/facebook.png").facebook
        img(src="../imgs/inst.png").instagram