.big-checkbox
    .text.b100 ДОПОЛНИТЕЛЬНЫЕ УДОБСТВА
    .material-icons.check-ardwn keyboard_arrow_up
    .checkboxes 
        .inputs 
            .input.breakfast
            .input-purp.desk
                .tick
            .input-purp.chair
                .tick
            .input-purp.bed
                .tick
            .input.tv
            .input.shower
        .checkbox-texts
            .input-text.rglr14 Завтрак 
            .input-text.rglr14 Письменный стол
            .input-text.rglr14 Стул для кормления
            .input-text.rglr14 Кроватка
            .input-text.rglr14 Телевизор
            .input-text.rglr14 Шампунь


.bed-dropdown
    .bed-sub.subtitle.b100 УДОБСТВА НОМЕРА
    .bedrooms.brdr-clear.brdr-mid2
        .text.clear.m13 2 спальни, 2 кровати...
        a.material-icons.room-close-ardwn.ardwn keyboard_arrow_down
    .bed-dropped.brdr-clear
        .bedrooms
            .text.b100 СПАЛЬНИ
            .less.btn-clear -
            .number.b100 2
            .more.btn-clear +
        .beds
            .text.b100 КРОВАТИ
            .less.btn-clear -
            .number.b100 2
            .more.btn-clear +
        .baths
            .text.b100 ВАННЫЕ КОМНАТЫ
            .less.btn-dim -
            .number.b100 0
            .more.btn-clear +