.right-btns
    .small-btns.bwhite
        .btn-title.b100 BUTTONS
        .purp-clear.btn
            .text CLICK ME
        .purp-dim.btn
            .text CLICK ME
        .white-clear.btn
            .text CLICK ME
        .white-dim.btn
            .text CLICK ME

    .text-btns
        .purp-text.b100 CLICK ME 
        .grey-text.b100 CLICK ME

    .big-btn
        .text.bwhite ПЕРЕЙТИ К ОПЛАТЕ
        .material-icons.btn-arleft arrow_forward


.radio-btns
    .radio-title.b100 RADIO BUTTONS
    .checks
        .man-check
            .check-circ
        .man.clear Мужчина
        .woman-check
        .woman.rglr14 Женщина


.toggle-btns
    .toggle-title.b100 TOGGLE
    .toggles
        .purp-toggle
            .purp-tog-circ
        .grey-toggle
            .grey-tog-circ
    .toggle-texts
        .tog-text1.clear Получать спецпредложения
        .tog-text2.clear Получать спецпредложения




.like-btns 
    .like-title.b100 LIKE BUTTON
    .grey-like
        .material-icons.heart favorite_border
        .like__count 2
    .purp-like
        .material-icons.heart favorite
        .like__count 12


.stars-btns
    .stars__title.b100 RATE BUTTON
    .stars4
        .material-icons star
        .material-icons star
        .material-icons star
        .material-icons star
        .material-icons star_border
    .stars5
        .material-icons star
        .material-icons star
        .material-icons star
        .material-icons star
        .material-icons star