.reg
    .reg__title Регистрация аккаунта
    .reg__name-input.drpbx__long Имя
    .reg__surname-input.drpbx__long Фамилия
    .reg__checkbox-male
        .check.check__man
        .check-man__circle
        .check-note.check-man__note Мужчина
        .check.check__woman
        .check-note.check-woman__note Женщина
    .reg__birth
        .birth__title.note ДАТА РОЖДЕНИЯ
        .birth__input.drpbx__long ДД.ММ.ГГГГ
    .reg__auth-data
        .data__title.note ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
        .data__email-input.drpbx__long Email
        .data__pass-input.drpbx__long Пароль
    .reg__notif-switch
        .switch__box
            .switch-box-circ
    .reg__checkbox-notif Получать спецпредложения
    .reg__btn-pay
        .reg-btn__note ПЕРЕЙТИ К ОПЛАТЕ
        .material-icons.arrow-pay arrow_forward
    .reg__footer
        .footer__note Уже есть аккаунт на Toxin
        .footer__btn
            .footer__btn-note ВОЙТИ