.body 
    .dropbox
        span.dropbox__title Найдём номера под ваши пожелания
        span.dropbox__1date.note ПРИБЫТИЕ
        .arriveDate.drpbx__date
            span.arrive__date ДД.ММ.ГГГГ
                i.material-icons.arrow__date keyboard_arrow_down
        span.dropbox__2date.note ВЫЕЗД
        .exitDate.drpbx__date
            span.exit__date ДД.ММ.ГГГГ
                i.material-icons.arrow__date keyboard_arrow_down
        span.dropbox__guest ГОСТИ
        .guests.drpbx__long
            span.guests__amount Сколько гостей
                i.material-icons.arrow__guests keyboard_arrow_down
        .chooseNumber.act-btn 
            span.btn__note ПОДОБРАТЬ НОМЕР
                i.material-icons.arrow__choose arrow_forward
    
    .body__remark Лучшие номера для вашей работы, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;отдыха и просто вдохновения
