.pagination
    .pag-title.b100 PAGINATION
    .page1.bwhite 
        span 1
    .pages.rglr12
        .page2 2
        .page3 3
        .page-dots ...
        .page15 15
    .page-next
        .material-icons arrow_forward
    .page-note.clear 1 – 12 из 100+ вариантов аренды
    