.photos
    .photo1
        .photo1__container
            img(src='../imgs/room1.png').photo1__pic
            .material-icons.arrow__right keyboard_arrow_right
            .material-icons.arrow__left keyboard_arrow_left
            .circls
                .circls__active
                .circl2.photo-circ
                .circl3.photo-circ
                .circl4.photo-circ
        .photo1__lux
            .photo__lux-no №
            .photo__lux-num 888
            .photo__lux-lux ЛЮКС
        .photo1__cost
            .photo__cost-num 9 990₽
            .photo__cost-perday в сутки
        .photo__line
        .photo__stars
            .material-icons.1star star_rate
            .material-icons.2star star_rate
            .material-icons.3star star_rate
            .material-icons.4star star_rate
            .material-icons.5star star_rate
        .photo__review
            .photo__review-num 145
            .photo__review-note Отзывов

    .photo2
        .photo2__container
            img(src='../imgs/room2.png').photo2__pic
            .circls
                .circls__active
                .circl2.photo-circ
                .circl3.photo-circ
                .circl4.photo-circ
        .photo2__lux
            .photo__lux-no №
            .photo__lux-num 840
        .photo2__cost
            .photo__cost-num 9 900₽
            .photo__cost-perday в сутки
        .photo__line
        .photo__stars
            .material-icons.1star star_rate
            .material-icons.2star star_rate
            .material-icons.3star star_rate
            .material-icons.4star star_rate
            .material-icons.5star star_border
        .photo__review
            .photo__review-num 65
            .photo__review-note Отзывов


.photo1__shadow
.photo2__shadow