.undropped
    .text.b100 EXPANDABLE CHECKBOX LIST
    .material-icons.ardwn keyboard_arrow_down

.big
    .text.b100 EXPANDABLE CHECKBOX LIST
    .material-icons.ardwn keyboard_arrow_up
    .checkboxes 
        .inputs 
            .input.breakfast
            .input-purp.desk
                .tick
            .input-purp.chair
                .tick
            .input-purp.bed
                .tick
            .input.tv
            .input.shower
        .checkbox-texts
            .input-text.rglr14 Завтрак 
            .input-text.rglr14 Письменный стол
            .input-text.rglr14 Стул для кормления
            .input-text.rglr14 Кроватка
            .input-text.rglr14 Телевизор
            .input-text.rglr14 Шампунь

.small
    .text.b100 CHECKBOX BUTTONS
    .checkboxes
        .inputs
            .input.smoke
            .input-purp.pets
                .tick
            .input-purp.invite
                .tick
        .checkbox-texts
            .input-text.rglr14 Можно курить
            .input-text.rglr14 Можно с питомцами
            .input-text.rglr14 Можно пригласить гостей (до 10 человек)



.rich
    .text.b100 RICH CHECKBOX BUTTONS
    .rich-checkboxes
        .input.hall
        .input.helper
    .rich-texts
        .hall
            .subtitle.b75 Широкий коридор
            .input-text.rglr12 Ширина коридоров в номере &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  не менее 91 см.
        .helper
            .subtitle.b75 Помощник для инвалидов
            .input-helper-text.rglr12 На 1 этаже вас встретит специалист и проводит до номера.