.cards
.cards-title Номера, которые мы для вас подобрали
.photo1__shadow
.photo2__shadow
.material-icons.arrow__right keyboard_arrow_right
.material-icons.arrow__left keyboard_arrow_left






.pagination
    .page1.bwhite 
        span 1
    .pages.rglr12
        .page2 2
        .page3 3
        .page-dots ...
        .page15 15
    .page-next
        .material-icons arrow_forward
    .page-note.clear 1 – 12 из 100+ вариантов аренды
    