.header-auth
    .toxin-logo
        .circle1
        .circle2
        .toxin-img
            img(src='../imgs/TOXIN.png')
    .info
        .about.b О нас
        .services.rglr Услуги
        .material-icons.serv-arrow__down keyboard_arrow_down
        .vacancies.rglr Вакансии
        .news.rglr Новости
        .agreements.rglr Соглашения
        .material-icons.agr-arrow__down keyboard_arrow_down
        .line
        .cesar.rglr Юлий Цезарь