


// date dropdown //




.drop-date {
    top:15px;
    left: 140px;

    > .subtitle {
        top: 15px;
    }


 > .drop-date__note {
    top: 20px;

    > a {
        top: -20px;
        left: -10px;
    }
    }
}

// date dropdown //



// guests dropdown //

.drop-guests {
    top:40px;
    left: 140px;

    > .subtitle {
        top: 15px;
    }


    > .drop-guests__note {
    top: 20px;

    > a {
        top: -20px;
        left: -10px;
        }
    }
}


// guests dropdown //





// slider //

.slider {
    top: 90px;
    left: 140px;
    
    > .slider-title {
        float: left;
    } > .slider-money {
        left: 44px;
    }

    > .left-part {
        width: 80px;
        height: 4px;
        border-radius: 3px;
        border: 1px solid #C7C7CF;
        top: 23px;
        z-index: 0;
    }



    > .left-circ {
        top: 12px;
        left: 75px;
    }

    > .center-slider {
        width: 90px;
        height: 6px;
        border-radius: 3px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        z-index: 0;
        left: 80px;
        top: 1px;
    }

    > .right-part {
        width: 100px;
        height: 4px;
        border-radius: 3px;
        border: 1px solid #C7C7CF;
        z-index: 0;
        left: 164px;
        top: -21px;
    }

    > .right-circ {
        left: 160px;
        top: -10px;
    }
}


.greencirc {
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    z-index: 1;
}

.slider__down-note {
    top: -7px;
}
// slider //



// rules checkbox //

.small {
    top: 125px;
    left: 140px;
    width: 222px;
    height: 129.12px;
    
    > .text {
        top: -13px;
    }
}

// rules checkbox //




// availible //

.rich {
    width: 266px;
    height: 145px;
    top: 173px;
    left: 120px;

    > .text {
        top: -30px;
        left: 0px;
    }

    > .rich-checkboxes {
        top: -15px;
        float: left;
        display: grid;
        grid-template-rows: repeat(2, 62px);
    }

    > .rich-texts {
        top: -14px;
        left: 10px;
        display: grid;
        grid-template-rows: repeat(2, 62px);

        > .hall {

            > .input-text {
                top: 5px;
            }
        }
    }
}

.input-helper-text {
    top: 5px;
}

// availible //




// conviniencies //
.room-conv {
    top: 178px;
    left: 140px;
}
.bed-sub {
    top:-5px;
    left: 0px;
}

.bedrooms {
    > a {
        color: #575871;
    }
}


// conviniencies //



// extra conv //
.undropped {
    top: 740px;
    left: 140px;
    position: absolute;
    > .text {
        float: left;
    } > .undrop-ardwn {
        top: -4px;
        left: 23px;
        cursor: pointer;
    }
}