.left-body    
    .drop-date
        .subtitle.b100 ДАТЫ ПРЕБЫВАНИЯ В ОТЕЛЕ
        .drop-date__note.brdr-dim.brdr-mid
            .text.clear.m13 19 авг - 23 авг
            a.material-icons.ardwn keyboard_arrow_down
    
    .drop-guests
        .subtitle.b100 ГОСТИ
        .drop-guests__note.brdr-dim.brdr-mid
            .text.clear.m13 3 гостя, 1 младенец
            a.material-icons.ardwn keyboard_arrow_down
    
    
    
    .slider
        .slider-title.b100 ДИАПАЗОН ЦЕНЫ
        .slider-money.rglr12 5 000₽ - 10 000₽
        .left-part
        .left-circ.greencirc
        .center-slider
        .right-circ.greencirc
        .right-part
        .slider__down-note.rglr12 Стоимость за сутки пребывания в номере
    
    
    
    
    .small
        .text.b100 ПРАВИЛА ДОМА
        .checkboxes
            .inputs
                .input.smoke
                .input-purp.pets
                    .tick
                .input-purp.invite
                    .tick
            .checkbox-texts
                .input-text.rglr14 Можно курить
                .input-text.rglr14 Можно с питомцами
                .input-text.rglr14 Можно пригласить гостей (до 10 человек)
    
    
    .rich
        .text.b100 ДОСТУПНОСТЬ
        .rich-checkboxes
            .input.hall
            .input.helper
        .rich-texts
            .hall
                .subtitle.b75 Широкий коридор
                .input-text.rglr12 Ширина коридоров в номере &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  не менее 91 см.
            .helper
                .subtitle.b75 Помощник для инвалидов
                .input-helper-text.rglr12 На 1 этаже вас встретит специалист и проводит до номера.
    
    .room-conv
        .bed-sub.subtitle.b100 УДОБСТВА НОМЕРА
        .bedrooms.brdr-dim.brdr-mid2
            .text.clear.m13 2 спальни, 2 кровати...
            a.material-icons.room-ardwn.ardwn keyboard_arrow_down
    
    
    
    .undropped
        .text.b100 ДОПОЛНИТЕЛЬНЫЕ УДОБСТВА
        .material-icons.undrop-ardwn keyboard_arrow_down