.auth-group
    .authorisation
        .auth 
            .auth__title Войти
            .auth-email__input.drpbx__long Email
            .auth-pass__input.drpbx__long Пароль
            .auth-btn
                .auth-btn__note ВОЙТИ
                i.material-icons.arrow-auth arrow_forward
            .auth-footer
                .auth-footer__note Нет аккаунта на Toxin?
                .auth-footer__btn 
                    .auth-footer-btn__note СОЗДАТЬ